extends layout

block content
    - each printservice, index in printservices
        p= index + ' ' + printservice.id  + ' ' + printservice.name + ' ' + printservice.address + ' ' + printservice.rating
         