extends layout

block content
  form(method='post', action='/user/SignUp')
    p
      input(name='name',  type='text')
    p
      input(name='login',  type='text')
    p
      input(name='password', type='password')
    p
      input(name='Войти', type='submit')
