extends layout

block content
  p Авторизация
  form(method='post', action='/user/SignIn')
    p
      input(name='login',  type='text')
    p
      input(name='password', type='password')
    p
      input(name='Войти', type='submit')

